*{
    font-family: "Noto Sans", sans-serif;
}

:root {
    --purple: rgb(149, 9, 137);
}
/* .main{
    background-color: whitesmoke;
} */
body{
    overflow-x: hidden;
}




/* navbar section*/
#myNavBar{
    position: fixed;
}




/* home section */
#home{
    padding-top: 100px;
}
#home h1{
    font-size: 50px;
    font-weight: 600;
}
 h2{
    font-size: 35px;
    font-weight: 600;
}
#home p{
    font-size: 17px;
    font-weight: 500;
}
.btn{
    background-image: linear-gradient(to right, rgb(237, 138, 228), rgb(149, 9, 137));
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
}

.profile_picture {
    position: absolute;

    border-radius: 50%;
    background-color: rgba(96, 70, 96, 0.456);
    right: 42%;
    top: 18%;
    z-index: 1;
}
@keyframes white_bg{
    0% {
border-radius: 60% 40% 30% 70% / 60% 30% 80% 40%;
}
50% {
border-radius: 30% 50% 70% 40% / 50% 40% 30% 60%;
}
100% {
border-radius: 60% 40% 30% 70% / 60% 40% 80% 40%;
}
}

.picture_container{
    position: relative;

}
.white_bg{
    position: absolute;
    border-radius: 50%;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;;
    animation: white_bg 8s ease-in-out infinite;
    transition: all 1s ease-in-out;
}
/* Skills and Technologies */
#skills{
    padding-top: 100px;
}
.skill{ /*to vertically align the text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; /* Ensures the container takes the full height */
    transition: transform 0.4s ease;

}
.skill:hover{
    transform: scale(1.5) ;
}





/* project section */
#project{
    padding-top: 100px;
}
.card{
    transition: transform 0.4s ease;
}
.card:hover{
    transform: scale(1.1);
}


.row.d-flex {
    gap: 50px; /* Adds spacing between cards */
}

@media (max-width: 768px) { /* sm breakpoint */
    .col-sm-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}



/* Contact Section */
#contact{
    padding-top: 100px;
}
.icon{
    color: var(--purple);
}





/* Footer */
.footer{
    background-color: var(--purple);
    color: white;
}
#link a{
    text-decoration: none;
    color: white;
}
