*{
    font-family: "Noto Sans", sans-serif;
}

:root {
    --purple: rgb(149, 9, 137);
}
/* .main{
    background-color: whitesmoke;
} */





/* navbar section*/
#myNavBar{
    position: fixed;
}




/* home section */
#home{
    padding-top: 100px;
}
#home h1{
    font-size: 50px;
    font-weight: 600;
}
 h2{
    font-size: 35px;
    font-weight: 600;
}
#home p{
    font-size: 17px;
    font-weight: 500;
}
.btn{
    background-image: linear-gradient(to right, rgb(237, 138, 228), rgb(149, 9, 137));
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
}
.profile_picture{
    background-image: url(./images/profile_pic.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: rgba(149, 9, 137, 0.436);
    height: 350px;
    position: relative;
    width: 345px;
    border: 3px solid black;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;;
    animation: profile_picture 8s ease-in-out infinite;
    transition: all 1s ease-in-out;
}


@keyframes profile_picture{
    0% {
border-radius: 60% 40% 30% 70% / 60% 30% 80% 40%;
}
50% {
border-radius: 30% 50% 70% 40% / 50% 40% 30% 60%;
}
100% {
border-radius: 60% 40% 30% 70% / 60% 30% 80% 40%;
}
}





/* Skills and Technologies */
#skills{
    padding-top: 100px;
}
.skill{ /*to vertically align the text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; /* Ensures the container takes the full height */
    transition: transform 0.4s ease;

}
.skill:hover{
    transform: scale(1.5) ;
}





/* project section */
#project{
    padding-top: 100px;
}
.card{
    transition: transform 0.4s ease;
}
.card:hover{
    transform: scale(1.1);
}





/* Contact Section */
#contact{
    padding-top: 100px;
}
.icon{
    color: var(--purple);
}





/* Footer */
.footer{
    background-color: var(--purple);
    color: white;
}
#link a{
    text-decoration: none;
    color: white;
}
